### Privileged and override properties
privileged.properties
override.properties

### Releases
# This is where releases are built for upload to GitHub
release

### Composer
# You shouldn't need to do `composer install`. We only save metadata in composer.json.
vendor